@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,400;1,600&display=swap");
body {
  height: 100%;
  background-image: url("../assets/background.png");
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.navbar-brand {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

#searchCountry {
  font-family: "Montserrat", sans-serif;
}

#search {
  font-family: "Montserrat", sans-serif;
}

#search:hover {
  color: #fff;
}

.title {
  margin-top: 2rem;
  font-size: 4.5rem;
  font-family: "Luckiest Guy", cursive;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
}

.title,
.subtitle {
  color: #fff;
  font-weight: bold;
}

.hero {
  background: rgba(37, 4, 72, 0.3);
  margin-top: 3em;
  border-radius: 0.25rem;
}

.main-title {
  font-family: "Poppins", sans-serif;
}

.first {
  background: #00f1f1;
}

.first .card-link {
  color: #a5003f;
}

.first .card-link:hover {
  color: #250448;
}

.second {
  color: #fff;
  background: #a5003f;
}

.third {
  background: #1ea303;
  color: #00f1f1;
}

.card-link {
  color: #fff;
}

.card-link:hover {
  color: #fff;
  text-decoration: underline;
}

#confirmados,
#fallecidos,
#recuperados {
  font-family: "Montserrat", sans-serif;
}

.ilustration-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  position: relative;
}

.ilustration-container img {
  width: 500px;
}

.footer {
  height: 3rem;
  width: 100%;
  padding: 1.5rem;
  background: #fff;
  position: relative;
  left: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.container-footer a {
  text-decoration: none;
}

.container-footer a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.icon-github,
.icon-instagram,
.icon-twitter {
  padding: 6px;
  color: #250448;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.icon-github:hover,
.icon-instagram:hover,
.icon-twitter:hover {
  color: #f60261;
}

.name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  font-size: 0.8em;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1440px) {
  body {
    height: 100vh;
  }
  .title {
    margin-top: 2rem;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .name {
    font-size: 1.2em;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  body {
    height: 100vh;
    position: relative;
    bottom: 0;
  }
  .title {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .hero {
    position: relative;
    top: 100px;
  }
  .cards {
    position: relative;
    top: 150px;
  }
  .card-mine {
    margin-top: 1rem;
  }
  .ilustration-container {
    position: absolute;
    bottom: 70px;
  }
  .ilustration-container img {
    width: 470px;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .name {
    font-size: 1.1em;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
  }
  .title {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }
  .hero {
    position: relative;
    bottom: 0px;
    top: 0px;
  }
  .cards {
    top: 0px;
  }
  .ilustration-container {
    padding: 25px;
    margin-top: 2rem;
    position: relative;
    bottom: 0px;
  }
  .ilustration-container img {
    width: 370px;
  }
  .icon-github,
  .icon-instagram,
  .icon-twitter {
    padding: 5px;
    font-size: 28px;
  }
  .footer {
    position: relative;
  }
  .name {
    font-size: 0.9em;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  body {
    height: 100%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-brand {
    margin: initial;
    font-size: 1.6rem;
  }
  .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: initial;
            flex-flow: initial;
  }
  .form-control {
    margin-right: 10px;
  }
  .title {
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  .third {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .card-mine {
    padding: 0px 30px;
  }
  .ilustration-container {
    padding: 25px;
  }
  .ilustration-container img {
    width: 350px;
  }
  .icon-github,
  .icon-instagram,
  .icon-twitter {
    padding: 5px;
    font-size: 28px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    margin-top: 6rem;
    margin-bottom: 0;
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .ilustration-container {
    padding: 15px;
  }
  .ilustration-container img {
    width: 300px;
  }
  .icon-github,
  .icon-instagram,
  .icon-twitter {
    padding: 5px;
    font-size: 25px;
  }
  .name {
    font-size: 0.8em;
    margin: 0;
  }
}

#particle-js {
  background: #000;
}
/*# sourceMappingURL=style.css.map */